<%- include("../partials/header") %>

<div class="container">
    <div style="width:30%; margin:0 auto;">
        <h1 style="text-align: center;">Edit Comment</h1>
     <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=put" method="post">
        
        <div class="form-group">
            <input class="form-control" type="text" value="<%= comment.text %>" name="comment[text]">
        </div>
        <!-- <div class="form-group">
            <input class="form-control" type="text" placeholder="author" name="comment[author]">
        </div> -->
        
       
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Update</button>
        </div>
        
     </form>
 
     <a href="/campgrounds/<%= campground_id %>">Go Back</a> 

    </div>
    

</div>


<%- include("../partials/footer") %>